body, header, nav {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    font-family: 'Montserrat', sans-serif; 
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

nav {
    display: flex;
    gap: 20px; 
    margin-right: 100px;
    margin-top: 0px;
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: black; 
    font-weight: 500;
}

nav a:hover {
    color: blue;
}

.page1 {
    margin-left: 100px;
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    line-height: 2;
}

.h1-1 {
    font-weight: 600;
    width: 550px;
    font-size: 50px;
    line-height: 1.15;
}

.h2-2 {
    color: gray;
    font-weight: 300;
    width: 500px;
    line-height: 1.15;
}

.button-moreInfo {
    background-color: white;
    color: black;
    border:2px solid aqua;
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.button-moreInfo:hover {
    background-color: blue;
    color: white;
}

.button-contactUs {
    background-color: aqua;
    color: white;
    border: 2px solid aqua;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

.button-contactUs:hover {
    background-color: blue;
    color: white;
}

.img-1 {
    width: 500px;
    height: auto;
    float: right;
    margin-right: 100px;
}

.page1, .img-1 {
    display: inline-block;
}

.page2 {
    margin-right: 100px;
    position: absolute;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    line-height: 2;
}

.h1-2 {
    font-weight: 600;
    width: 550px;
    font-size: 50px;
    line-height: 1.15;
}

.h2-2 {
    color: gray;
    font-weight: 300;
    width: 530px;
    line-height: 1.15;
}

.number-2 {
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: right;
}

.one-2 {
    margin-right: 75px;
}

.two-2 {
    margin-right: 75px;
}

.garis {
    position: absolute;
    background-color: aqua;
    height: 10px;
    width: 100px;
    top: 430px;
}

.img-2 {
    width: 500px;
    float: left;
    margin-left: 100px;
}

.page2, .img-2 {
    display: inline-block;
}

#about {
    margin-bottom: 650px;
}

.page3 {
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}

.h1-3 {
    font-weight: 600;
    width: 550px;
    font-size: 50px;
    margin-bottom: 15px;
}

.h2-3 {
    color: gray;
    font-weight: 300;
    width: 600px;
}

.button-contactUs3 {
    background-color: aqua;
    color: white;
    border: 2px solid aqua;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 100px;
    float: right;
}

.button-contactUs3:hover {
    background-color: blue;
    color: white;
}

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kolom-1 {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    width: 300px;
    height: auto;
}

.img-3 {
    max-width: 100%;
    display: block;
    margin: 0 auto; 
}

.h1-3-1 {
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.h2-3-1 {
    text-align: left;
    color: gray;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.kolom-2 {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    width: 300px;
    height: auto;
}

.img-4 {
    max-width: 100%;
    display: block;
    margin: 0 auto; 
}

.h1-3-2 {
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.h2-3-2 {
    text-align: left;
    color: gray;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.kolom-3 {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    width: 300px;
    height: auto;
}

.img-5 {
    max-width: 100%;
    display: block;
    margin: 0 auto; 
}

.h1-3-3 {
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.h2-3-3 {
    text-align: left;
    color: gray;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.img-service {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1-4 {
    margin-left: 100px;
    margin-bottom: 5px;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 550px;
    font-size: 50px;
}

.h2-4 {
    padding: 0 20px;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-weight: 300;
    width: 1000px;
}